.wrapper {
  height: 100Vh;
  width: 100VW;
  background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
  &__rm {
    height: 1200px;
    border-top:solid 8px orange;
    background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
    .box {
      height: 80px;
      width: 400px;
      display: flex;
      margin: auto;
      &__title {
        height: 38px;
        width: 200px;
        margin: auto;
        background-color: black;
        color: orange;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
        padding: 5px 0px;
        margin-top: 42px;
      }
    }
    .content {
      height: 330px;
      width: 90%;
      margin: auto;
      margin-top: 15px;
      background-color: black;
      &__introduction {
        color: white;
        &__a {
          height: 142px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
        &__b {
          height: 100px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
        &__c {
          height: 70px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
      }
    }
    .list {
      height: 650px;
      width: 90%;
      margin: auto;
      padding-top: 10px;
      border-bottom: solid 1px gray;
      background-color: black;
      display: flex;
      &__box {
        height: 568px;
        width: 60%;
        display: flex;
        margin: auto;
        background-color: white;

        &__strong {
          width: 33%;
          background-color: white;
          color:black;
          &__1 {
            height: 78px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: rgb(240, 176, 56);
          }
          p {
            height: 35px;
            text-align: center;
            border: solid 1px gray;
            &:nth-child(even) {
              background: #e2e0e0;
            }
          }
          
        }
        &__rm {
          width: 33%;
          background-color: white;
          color: black;
          &__1 {
            height: 78px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: rgb(240, 176, 56);
          }
          p {
            height: 35px;
            text-align: center;
            border: solid 1px gray;
            &:nth-child(even) {
              background: #e2e0e0;
            }
          }
        }
        &__effect {
          width: 34%;
          &__1 {
            height: 78px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: rgb(240, 176, 56);
          }
          &__2 {
            height: 105px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: #e2e0e0;
          }
          &__3 {
            height: 35px;
            text-align: center;
            border: solid 1px gray;
          }
          &__4 {
            height: 175px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: #e2e0e0;
          }
          &__5 {
            height: 35px;
            text-align: center;
            border: solid 1px gray;
          }
          &__6 {
            height: 140px;
            text-align: center;
            border: solid 1px gray;
            white-space: pre;
            background: #e2e0e0;
          }
        }
      }
      &__calcu {
        width: 20%;
        margin-top: 20px;
        margin-right: 35px;
      }
    }
  }
}