.wrapper {
  height: 100Vh;
  width: 100VW;
  background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
  &__rm {
    border-top:solid 8px orange;
    background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
    .box {
      height: 80px;
      width: 400px;
      display: flex;
      margin: auto;
      &__title {
        height: 38px;
        width: 200px;
        margin: auto;
        background-color: black;
        color: orange;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
        padding: 5px 0px;
        margin-top: 42px;
      }
    }
    .content {
      height: 330px;
      width: 90%;
      margin: auto;
      margin-top: 15px;
      background-color: black;
      &__introduction {
        color: white;
        &__a {
          height: 142px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
        &__b {
          height: 100px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
        &__c {
          height: 70px;
          margin-left: 20px;
          margin-right: 20px;
          white-space: pre;
        }
      }
    }
    .list {
      height: 700px;
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
      border-bottom: solid 1px gray;
      background-color: black;
      &__box {
        height: 400px;
        width: 90%;
        display: flex;
        margin: auto;
        padding-top: 28px;

        &__strong {
          width: 33%;
          background-color: red;
          &__1 {
            height: 60px;
            border: solid 1px gray;
          }
          p {
            height: 40px;
            border: solid 1px gray;
            background-color: yellow;
          }
        }
        &__rm {
          width: 33%;
          background-color:blue;
        }
        &__effect {
          width: 33%;
          background-color:green;
        }
      }
    }
  }
}