.wrapper
  .main 
    .main__content
      .main__content__profile 
        = link_to root_path do
          .main__content__profile__image
            = image_tag "/icon/ニューヨーク.jpg",class:"icon"
          .main__content__profile__list
            .main__content__profile__list__name
              いのっち
            .main__content__profile__list__day
              2020年5月30日
      .main__content__list
        .main__content__list__text
          .main__content__list__text__title
            一言メモ
          .main__content__list__text__detail
            追い込んだ。
            やり切った。
            明日も頑張る
        .main__content__list__menu
          .main__content__list__menu__title
            トレーニングメニュー
          .main__content__list__menu__detail
            ベンチプレス50kg × 10回 × 3セット
            ベンチプレス50kg × 10回 × 3セット
            ベンチプレス50kg × 10回 × 3セット
        .main__content__list__image
          .main__content__list__image__title
            画像
          .main__content__list__image__detail
            = image_tag "/icon/ニューヨーク.jpg",class:"icon"
        .main__content__list__tag
          .main__content__list__tag__title
            タグ
          .main__content__list__tag__detail
            胸
            腕
            腹
        .main__content__list__coments


