* {
  box-sizing: border-box;
}
.wrapper {
  .header {
    height :210px;
    background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);

    &__top {
      height:80px;
      display: flex;

      &__logo {
        height: 100%;
        width: 300px;

        &__text {
          height: 100%;
          width: 200px;
          padding-top: 20px;
          padding-left: 10px;
          position: relative;
          font-weight: bold;
          font-family: sans-serif;
          margin-left: 40px;
          a {
            font-weight: bold;
            font-size: 1.3em;
            color: orange;
            text-decoration: none;
          }
        }
        .icon {
          height: 80px;
          width: 80px;
          margin: -3px 90px;
          margin-left: 130px;
          position: absolute;
          top: 0px;
          left: 60px;
        }
      }
    
      &__serch {
        height: 50px;
        width: 100vw;
        display: flex;
        &__box {
          height: 36px;
          margin: auto;
          display: flex;
          padding-top: 20px;
          &__fream {
            .login-input-text {
              height: 38px;
              width: 500px;
              position: absolute;
              left: 400px;
            }
          }
          &__icon {
            height: 38px;
            width: 36px;
            background-color: orange;
            position: absolute;
            left: 902px;
            .icon {
              height: 26px;
              width: 26px;
              margin: 7px 7px;
            }
          }
        }
      }
    }

    &__profile {
      height: 100px;
      width: 248px;
      padding-top: 20px; 
      margin-left: 40px;  
        &__box {
          width: 100px;
          a {
            text-decoration: none;
          }
          &__inner {
            height: 100px;
            width: 100px;
            margin-top: -15px;
            padding-right: 190px;
            li {
              list-style: none;
              margin-left: 10px;
              position: relative;
              color: black;
              top: -16px;
            }
            &__image {
              height: 80px;
              width: 80px;
              border-radius: 50%;
              background-color: black;
            }
            &__name {
              height: 30px;
              width: 100px;
              margin-top: 8px;
            }
          }
        }
        .header__right--outbtn {
          margin-left: 147px;
          position: relative;
          top: -70px;
          text-decoration: none;
          color: black;
        }
        .header__right--inbtn {
          position: relative;
          top: 70px;
          text-decoration: none;
          color: black;
        }
        a:hover {
          color: orange;
        }
    }


    &__contents {
      display: flex;
      position: absolute;
      top: 80px;
      left: 248px;
      height: 120px;

      &__post {
        height: 115px;
        width: 115px;
        margin-left: 145px;
        margin-top: 5px;
        border-radius: 50%;
        background-color: #fff;
        a {
          text-decoration: none;
        }
        &__icon {
          height: 50px;
          width: 50px;
          position: absolute;
          top: 20px;
          left: 180px;
        }
        &__btn {
          height: 10px;
          width: 100px;
          margin-top: 85px;
          margin-left: 25px;
          color:black;
        }
      }

      &__rm {
        height: 115px;
        width: 115px;
        margin-left: 30px;
        margin-top: 5px;
        border-radius: 50%;
        background-color: #fff;
        a {
          text-decoration: none;
        }
        &__icon {
          height: 50px;
          width: 50px;
          position: absolute;
          top: 20px;
          left: 323px;
        }
        &__btn {
          height: 10px;
          width: 100px;
          margin-top: 85px;
          margin-left: 25px;
          color:black;
        }
      }
    }
  }
}