* {
  box-sizing: border-box;
}
.wrapper {
  height: 100Vh;
  width: 100VW;
  background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
  .main {
    height: 700px;
    width: 100VW;
    background-image: url(/back_image/コンクリート打ちっぱなし2.jpeg);
    border-top:solid 8px orange;
    border-bottom:solid 8px orange;
    &__post {
      height: 500px;
      width: 100vw;

      &__title {
        height: 38px;
        width: 200px;
        margin: auto;
        background-color: black;
        color: orange;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
        padding: 5px 0px;
        margin-top: 42px;
        &__box {
          font-family: sans-serif;
          font-weight: bold;
          font-size: 1.1em;
          margin: 0 auto;
          margin-top: -3px;
          color: orange;
        }
      }

      &__list {
        height: 620px;
        width: 80%;
        margin: auto;
        background-color: black;
        &__box1 {
          height: 140px;
          width: 100%;
          margin: 0 auto;
          margin-top: 15px;
          border:solid 1px gray;
          .form1 {
            height:40%;
            width:100%;
            &__title {
              height: 25px;
              width: 180px;
              margin-top: 10px;
              margin-left: 10px;
              font-weight: bold;
              font-size: 1.1em;
              color: orange;
            }
            textarea {
              height:85px;
              width: 600px;
              margin-top: 5px;
              margin-left: 29px;
              word-break: keep-all;
              line-height: 1.5;
            }
          }
        }
        &__box2 {
          height: 400px;
          width: 100%;
          margin: 0 auto;
          border:solid 1px gray;
          .form2 {
            height:40%;
            width:60%;
            &__title {
              height: 25px;
              width: 180px;
              margin-top: 10px;
              margin-left: 10px;
              font-weight: bold;
              font-size: 1.1em;
              color: orange;
            }
            textarea {
              height:55px;
              width: 378px;
              margin-top: 5px;
              margin-left: 29px;
              word-break: keep-all;
              line-height: 1.5;
            }
          }
          .form3 {
            height:100%;
            width:41%;
            position: relative;
            top: -178px;
            left: 436px;
            border-left:solid 2px gray;
            border-right: none;
            &__title {
              height: 25px;
              width: 180px;
              margin-top: 10px;
              margin-left: 10px;
              font-weight: bold;
              font-size: 1.1em;
              color: orange;
            }
          }
        }
        &__submit {
          .form4 {
            input {
              height: 50px;
              width: 400px;
              position: relative;
              top: 15px;
              left: 350px;
              background-color: orange;
            }
          }
        }
      }

    }
  }
}
